.hero {
    position: relative;
    height: 100vh;

    display: flex;
    align-items: center;

    padding: 0 8%;

    background:
        linear-gradient(rgba(0, 0, 0, 0.55),
            rgba(0, 0, 0, 0.72)),
        url("src/assets/images/lex.jpg") center center/cover no-repeat;
}

.hero-overlay {
    position: absolute;
    inset: 0;

    background:
        radial-gradient(circle at right,
            rgba(193, 18, 31, 0.18),
            transparent 40%);
}

.hero-content {
    position: relative;
    z-index: 2;
    max-width: 720px;
}

.hero-tag {
    color: #C1121F;
    letter-spacing: 2px;
    font-weight: 600;
}

.hero h1 {
    color: white;
    font-size: 5rem;
    line-height: 1.05;
    margin: 20px 0;
}

.hero p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1.05rem;
    line-height: 1.8;
    max-width: 600px;
    margin-bottom: 40px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

.primary-btn {
    background: #C1121F;
    color: white;
    padding: 16px 30px;
    border: none;
    border-radius: 50px;
    font-weight: 600;
}

.secondary-btn {
    background: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);

    padding: 16px 30px;
    border-radius: 50px;
}

@media(max-width:768px) {

    .hero h1 {
        font-size: 3rem;
    }

    .hero-buttons {
        flex-direction: column;
    }

    .hero {
        text-align: center;
    }
}