.services {
    background: #fff;
    padding: 110px 8%;
}

/* HEADER */
.section-header {
    text-align: center;
    max-width: 750px;
    margin: auto;
    margin-bottom: 70px;
}

.section-header span {
    color: #C1121F;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 14px;
}

.section-header h2 {
    color: #111;
    font-size: 3rem;
    margin: 18px 0;
    line-height: 1.2;
}

.section-header p {
    color: #666;
    line-height: 1.8;
}

/* GRID */
.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

/* CARD */
.service-card {
    background: white;
    border-radius: 30px;
    overflow: hidden;

    border: 1px solid #ECECEC;

    transition: .4s ease;
}

.service-card:hover {
    transform: translateY(-10px);

    box-shadow:
        0 20px 45px rgba(0, 0, 0, .08);
}

/* IMAGE */
.service-image-wrapper {
    position: relative;
    overflow: hidden;
}

.service-image {
    width: 100%;
    height: 260px;

    object-fit: cover;
    display: block;

    transition: .6s ease;
}

.service-card:hover .service-image {
    transform: scale(1.08);
}

/* OVERLAY */
.service-overlay {
    position: absolute;
    inset: 0;

    background:
        linear-gradient(to top,
            rgba(0, 0, 0, .8),
            rgba(0, 0, 0, .15));

    display: flex;
    align-items: flex-end;

    padding: 25px;
}

.service-overlay span {
    background: #C1121F;

    color: white;

    padding: 8px 16px;
    border-radius: 50px;

    font-size: 12px;
    font-weight: 700;

    letter-spacing: 1px;
}

/* CONTENT */
.service-content {
    padding: 30px;
}

.service-content h3 {
    color: #111;
    margin-bottom: 14px;
    font-size: 1.35rem;
}

.service-content p {
    color: #666;
    line-height: 1.8;
}

/* TABLET */
@media(max-width:992px) {

    .services-grid {
        grid-template-columns:
            repeat(2, 1fr);
    }
}

/* MOBILE */
@media(max-width:768px) {

    .services {
        padding: 100px 24px;
    }

    .section-header h2 {
        font-size: 2.3rem;
    }

    .services-grid {
        grid-template-columns: 1fr;
    }

    .service-image {
        height: 240px;
    }

    .service-content {
        padding: 25px;
    }
}