.testimonials {
    background: white;
    padding: 110px 8%;
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.testimonial-card {
    background: #fff;
    border: 1px solid #ECECEC;
    border-radius: 30px;

    padding: 40px;
    transition: 0.4s ease;
}

.testimonial-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.stars {
    display: flex;
    gap: 5px;
    color: #C1121F;
    margin-bottom: 25px;
}

.review-text {
    color: #555;
    line-height: 1.9;
    margin-bottom: 30px;
    font-style: italic;
}

.client-info h4 {
    color: #111;
}

.client-info span {
    color: #777;
    font-size: 14px;
}

@media(max-width:992px) {
    .testimonial-grid {
        grid-template-columns: 1fr;
    }
}