.why-us {
    background: #F8F8F8;
    padding: 110px 8%;
}

.why-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    align-items: center;
}

.why-image {
    position: relative;
}

.why-image img {
    width: 100%;
    height: 650px;
    object-fit: cover;
    border-radius: 35px;
}

.experience-card {
    position: absolute;
    bottom: 30px;
    left: 30px;

    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(15px);

    padding: 25px 35px;
    border-radius: 24px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.experience-card h2 {
    color: #C1121F;
    font-size: 2.5rem;
}

.experience-card p {
    color: #555;
}

.why-content span {
    color: #C1121F;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 14px;
}

.why-content h2 {
    color: #111;
    font-size: 3rem;
    margin: 20px 0;
    line-height: 1.2;
}

.why-content p {
    color: #666;
    line-height: 1.9;
    margin-bottom: 40px;
}

.why-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.feature-box {
    background: white;
    border-radius: 24px;
    padding: 25px;

    display: flex;
    gap: 18px;
    align-items: flex-start;

    transition: 0.3s ease;
}

.feature-box:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.feature-box svg {
    color: #C1121F;
    font-size: 24px;
    margin-top: 5px;
}

.feature-box h4 {
    color: #111;
    margin-bottom: 6px;
}

.feature-box p {
    margin: 0;
    color: #666;
}

@media(max-width:992px) {

    .why-container {
        grid-template-columns: 1fr;
    }

    .why-image img {
        height: 500px;
    }
}

@media(max-width:768px) {

    .why-content h2 {
        font-size: 2.2rem;
    }

    .why-features {
        grid-template-columns: 1fr;
    }

    .why-image img {
        height: 400px;
    }
}